APP_NAME=heallth_app
APP_ENV=development

POSTGRES_DB=heallth
POSTGRES_USER=heallth_user
POSTGRES_PASSWORD=heallth_password
DATABASE_URL=postgresql+psycopg2://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}

REDIS_URL=redis://redis:6379/0

SECRET_KEY=change_me_to_random_32_chars
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# File storage
FILE_STORAGE=local
LOCAL_MEDIA_ROOT=static/uploads
STATIC_URL_PREFIX=/static/uploads
# S3 config (only used if FILE_STORAGE=s3)
AWS_REGION=
AWS_S3_BUCKET=
AWS_S3_ENDPOINT=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

